{
:lang :beja-atmaan
:sgpref "bat" 
:schemata {
	  :conjClass [:Irregular, :Prefix, :Suffix]
	  :gender [:Common, :Fem, :Masc]
	  }
:morphemes {
  :PRO {:gloss "Pronoun", :pos :Pronoun}
  :SUBJPREF {:gloss "Subject Prefixes", }
}
:lexemes {
  :dilib {:stemPattern :CiCiC-, :gloss "trade"}
  :fidig {:stemPattern :CiCiC-, :gloss "open"}
}
:lxterms #{
    {:label "beja_W-VPrefAffCiCiCPres"
    :note "Wedekind-etal2007 p. 109"
    :common {:conjClass :Prefix,
	    :lexeme :sibib,
	    :polarity :Affirmative,
	    :pos :Verb,
	    :rootClass :CiCiC,
	    :tam :Present}
    :terms [[:gender, :number, :person, :token]  ;; schema
	    [:Fem, :Singular, :Person2, "šánbíibi"],
	    [:Masc, :Singular, :Person2, "šánbíiba"],
	    [:Fem, :Singular, :Person3, "šánbíib"],
	    [:Common, :Singular, :Person1, "ašánbíib"],
	    [:Common, :Plural, :Person1, "nišábib"],
	    [:Common, :Plural, :Person2, "tišábibna"],
	    [:Common, :Plural, :Person3, "išábibna"],
	    [:Masc, :Singular, :Person3, "šánbíib"]]
    }
    {:label "beja_W-VPrefAffCiCiCPast"
    :note "Wedekind-etal2007 p. 109"
    :common {:conjClass :Prefix,
	    :lexeme :sibib,
	    :polarity :Affirmative,
	    :pos :Verb,
	    :rootClass :CiCiC,
	    :tam :Past}
    :terms [[:gender, :number, :person, :token]  ;; schema
	    [:Common, :Plural, :Person3, "íšbibna"],
	    [:Fem, :Singular, :Person2, "tíšbíbi"],
	    [:Common, :Singular, :Person1, "ašbíb"],
	    [:Masc, :Singular, :Person3, "išbíb"],
	    [:Fem, :Singular, :Person3, "tišbíb"],
	    [:Common, :Plural, :Person1, "níšbib"],
	    [:Common, :Plural, :Person2, "tíšbibna"],
	    [:Masc, :Singular, :Person2, "tíšb’ba"]]
    }
}
}
