{:lang :beja-arteiga
==========================
REWRITE AS:
				aama:Beja-arteiga a aamas:Language .
				aama:Beja-arteiga rdfs:label "Beja-arteiga" .
=============================
:schemata [ 								;; or "schemata {"?
	  :conjClass {:Prefix, :Suffix} 	;; not ":conjClass [:Prefix :Suffix]" ?
============================
REWRITE AS:
				bar:conjClass aamas:lang aama:Beja-arteiga .
				bar:ConjClass aamas:lang aama:Beja-arteiga .
				bar:conjClass rdfs:domain aamas:Term .
				bar:ConjClass rdfs:label "conjClass exponents" .
				bar:conjClass rdfs:label "conjClass" .
				bar:conjClass rdfs:range bar:ConjClass .
				bar:ConjClass rdfs:subClassOf bar:MuExponent .
				bar:conjClass rdfs:subPropertyOf bar:muProperty .

				bar:Prefix aamas:lang aama:Beja-arteiga .
				bar:Prefix rdf:type bar:ConjClass .
				bar:Prefix rdfs:label "Prefix" .

				bar:Suffix aamas:lang aama:Beja-arteiga .
				bar:Suffix rdf:type bar:ConjClass .
				bar:Suffix rdfs:label "Suffix" .
====================================

	  :tam {:Aorist, :Common, :Future, :Imperative, :Jussive, :Optative, :Past, :Present}
	  ]

:morphemes {
  :PRO {:gloss "Pronoun", :pos :Pronoun}
================================
REWRITE AS:
				aama:Beja-arteiga-PRO a aamas:Muterm ;
				  rdfs:comment "Pronoun" ;
				  aamas:lang aama:Beja-arteiga ;
				  rdfs:label "PRO" ;
				  bar:pos  bar:Pronoun 
					.
================================

  :SUBJMARK {:gloss "Subject Marker", }
}


:lexemes {
  :dbl {:conjClass :Prefix, :gloss "collect, gather", :pos :Verb, :rootClass :CCC}
==================================
REWRITE AS:
				aama:Beja-arteiga-dbl a aamas:Lexeme ;
				  bar:conjClass  bar:Prefix  ;
				  aamas:gloss "collect, gather" ;
				  aamas:lang aama:Beja-arteiga ;
				  rdfs:label "dbl" ;
				  bar:pos  bar:Verb  ;
				  bar:rootClass  bar:CCC 
					  .
===================================

 :dgy {:conjClass :Prefix, :gloss "hear", :pos :Verb, :rootClass :CCY}
}
:lxterms #{
    {:label "beja_H-VPrefAffCCYPres"
    :common {:conjClass :Prefix,
	    :lexeme :dgy,
	    :polarity :Affirmative,
	    :pos :Verb,
	    :rootClass :CCY,
	    :tam :Present}
    :terms [[:gender, :number, :person, :token]  ;; schema
	    [:Masc, :Singular, :Person3, "dangì"],
	    [:Common, :Plural, :Person1, "ni-déeg"],
	    [:Common, :Plural, :Person2, "ti-deeg-`na"],
	    [:Masc, :Singular, :Person2, "dangii-`a"],
	    [:Common, :Plural, :Person3, "?i-deeg-`na"],
	    [:Common, :Singular, :Person1, "?a-dangì"],
	    [:Fem, :Singular, :Person3, "dangì"],
	    [:Fem, :Singular, :Person2, "dangii-`"]]
    }
======================================
REWRITE AS:
			aama:ID02714753-9fa7-4f87-a245-06fef59e791e a aamas:Term ;
				aamas:lexeme aama:Beja-arteiga-dgy;
				bar:conjClass  bar:Prefix  ;
				aamas:lang  aama:Beja-arteiga ;
				 bar:polarity  bar:Affirmative  ;
				bar:pos  bar:Verb  ;
				bar:rootClass  bar:CCY  ;
				bar:tam  bar:Present  ;
				bar:gender  bar:Masc  ;
				bar:number  bar:Singular  ;
				bar:person  bar:Person3  ;
				bar:token  "dangì"
				.
			aama:ID1ffe531d-fa75-4406-a5ed-b0795e2d63ff a aamas:Term ;
				aamas:lexeme aama:Beja-arteiga-dgy;
				bar:conjClass  bar:Prefix  ;
				aamas:lang  aama:Beja-arteiga ;
				 bar:polarity  bar:Affirmative  ;
				bar:pos  bar:Verb  ;
				bar:rootClass  bar:CCY  ;
				bar:tam  bar:Present  ;
				bar:gender  bar:Common  ;
				bar:number  bar:Plural  ;
				bar:person  bar:Person1  ;
				bar:token  "ni-déeg"
				.
				.  .  .
======================================

    {:label "beja_H-VPrefAffCCYAor"
    :common {:conjClass :Prefix,
	    :lexeme :dgy,
	    :polarity :Affirmative,
	    :pos :Verb,
	    :rootClass :CCY,
	    :tam :Aorist}
    :terms [[:gender, :number, :person, :token]  ;; schema
	    [:Common, :Plural, :Person3, "?i-diig-`na"],
	    [:Common, :Plural, :Person2, "ti-diig-`na"],
	    [:Fem, :Singular, :Person2, "ti-diig-`i"],
	    [:Common, :Plural, :Person1, "ni-dìig"],
	    [:Masc, :Singular, :Person3, "?i-dìig"],
	    [:Fem, :Singular, :Person3, "ti-dìig"],
	    [:Masc, :Singular, :Person2, "ti-diig-`a"],
	    [:Common, :Singular, :Person1, "?a-dìig"]]
    }
    }
}